# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
.venv/
env/

# OS specific
.DS_Store
.flask_session/

# Editor
.vscode/
.idea/

# Custom data files
*.csv
*.jsonl
monitored_trades/
report_*.html
!example_data.csv
